<div>
<h2>The Beers</h2>

{{#each this.allBeers}}
<h5>Name: {{this.name}}</h5>
<p>Description: {{this.description}}</p>
<p>Tagline: {{this.tagline}}</p>
<img src="{{this}}" alt="Beer">

{{/each}}



</div>